<div id="Contents">
<div class="product_index">

<div class="uni-box">
            <div class="uni_name_line">
            MY PAGE
            </div>
            <div  class="uni-info">
            名前  <%= @student.name %>
大学 <%= @student.uni.name %>
卒業式日程 <%= @student.uni.graduation %>
            </div>
            </div>


試着を予約した商品
<% @student.bookings.each do |booking| %>
                <ul class="my_fav">
                  <div class="kimonopic">

                   <img src="<%= booking.product.product_images[0].photo %>">
                   </div>
                   </ul>

              <% end %>

お気にいり登録商品
 <% @student.products.each do |product| %>
        <ul class="my_fav">
          <div class="kimonopic">
           <img src="<%= product.product_images[0].photo %>">
           </div>
           </ul>
      <% end %>



    </div>
  </div>
</div>
</div>
