<!DOCTYPE html>
<html>
<head>
  <title>UniversitySearch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
</head>
<header>
<div class="spaceofheader">
</div>
</header>
<body class="unilistbody">
<div class="mainbox1">
<div class="whitebox"></div>

</div>


  <div class="scrollNav">
    <ul class="outline">
      <li>
         <a href="outline01">あ行</a>
      </li>
      <li>
         <a href="outline02">か行</a>
      </li>
      <li>
         <a href="outline03">さ行</a>
      </li>
      <li>
         <a href="outline04">た行</a>
      </li>
      <li>
         <a href="outline05">な行</a>
      </li>
      <li>
         <a href="outline06">は行</a>
      </li>
       <li>
         <a href="outline07">ま行</a>
      </li>
       <li>
         <a href="outline08">や行</a>
      </li>
       <li>
         <a href="outline09">ら行</a>
      </li>
       <li>
         <a href="outline10">わ行</a>
      </li>
    </ul>
  </div>

<% @universities.each do |uni| %>
<div class="unilist">
<a href="/unis/<%= uni.id %>" class="uniname">
<%= uni.name %>
</a>
</div>
<% end %>
</div>
</body>
