
 <div class="register-container">
    <div class="register-box">
          <div><p class="register-title">ログイン</p></div>

          <div class="register-register-container">

     <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <fieldset class="register-input-container">
        
          <div class="label">
            <%= f.email_field :email, autofocus: true, :placeholder => 'メールアドレスを入力' %>
          </div>
          <div class="label">
            <%= f.password_field :password, autocomplete: "off", :placeholder => 'パスワードを入力' %>
          </div>

          </fieldset>

          <div class="row">
            <% if devise_mapping.rememberable? -%>
              <div class="col-xs-6"><%= f.check_box :remember_me %> <%= f.label :パスワードを記憶 %></div>
            <% end %>

            <%= f.submit class: "register-register-button", value: "log in"%>
          </div>

        <% end %>
        <div class="more_link_box">
        <strong>まだアカウントを持っていませんか？</strong>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
