<div class="bgcolor-white pt1em pb1em" id="contents">  <div id="main_cnt_wrapper">
  <div id="yjContentsBody">
    <div class="yjContainer">
      <div class="form_box">
        <h2><span>ログイン</span></h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div>
            <%= f.email_field :email, autofocus: true, :placeholder => 'メールアドレスを入力' %>
          </div>
          <div>
            <%= f.password_field :password, autocomplete: "off", :placeholder => 'パスワードを入力' %>
          </div>
          <div class="row">
            <% if devise_mapping.rememberable? -%>
              <div class="col-xs-6"><%= f.check_box :remember_me %> <%= f.label :パスワードを記憶 %></div>
            <% end %>
            <div class="col-xs-6">パスワードを忘れましたか？</div>
            <div class="submit"><%= f.submit "ログイン" %></div>
          </div>
        <% end %>
        <div class="more_link_box">
        <strong>まだアカウントを持っていませんか？</strong>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
