<div class="field">
  <%= image_tag @product_image.photo.url if @product_image.photo? %>
  <%= f.label :image %><br>
  <%= f.file_field :image %>
  <%= f.hidden_field :image_cache %>
</div>

<p>
  <strong>Image:</strong>
  <%= image_tag @photo.photo.url %>
</p>
