<div id="Contents">
<div class="product_index">
  <div class="inner">
  <section class="colSect" id="Collection">




   <a href="/top" class="breadcrumbs-link">Home</a>
              <span class="breadcrumbs-separator">/</span>
              <a href="/unis" class="breadcrumbs-link">大学検索</a>
              <span class="breadcrumbs-separator">/</span>
              <a href="/unis/<%= @uni.id %>/products" class="breadcrumbs-link"><%= @uni.name %>で予約できる商品一覧</a>
              <span class="breadcrumbs-separator">>>></span>検索結果
            </div>

            <div class="uni-box">
            <div class="uni_name_line">
            検索結果
            </div>
            </div>


<ul class="product_list_wrapper">
           <% @products.each do |kimono| %>
              <li class="eachbox">
                <div class="kimonopic">
                  <% num = 1 %>
                  <% kimono.product_images.each do |pic| %>

                <a href="/unis/<%= @uni.id %>/products/<%= kimono.id %>">
                    <% if num == 1%>
                     <%= image_tag pic.photo %>

                    <% end %>
                    <% num += 1 %>
                  <% end %>
                  </a>
                </div>
                <div class="kimono_details">
                    <a href="/unis/<%= @uni.id %>/products/<%= kimono.id %>">
                     <p><%= kimono.price %>円</p>
                     <%= kimono.title %>


                    </a>
                </div>
              </li>

              <% end %>

           </ul>



  </section>
  </div>
  </div>
</div>