<!DOCTYPE html>
<html>
<head>
  <title>SelectKimono</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
</head>

<body>
<div class="uni_name">
<%= @uni.name %>で予約できる袴一覧
</div>

<div class="maincontents">
   <h1 class="listtitle">商品一覧</h1>
     <ul class="productlist">
     <% @products.each do |kimono| %>
        <li>
          <div class="kimonopic">
            <% num = 1 %>
            <% kimono.product_images.each do |pic| %>
          <a href="/products/<%= kimono.id %>?uni=<%= params[:id]%>" class="eachpic">
              <% if num == 1%>
                <img class="eachpic" src="<%= pic.image %>">
              <% end %>
              <% num += 1 %>
            <% end %>
            </a>
          </div>
          <a href="/products/<%= kimono.id %>?uni=<%= params[:id]%>" class="kimonodetail">
          <p class="kimonodetail">
            <span>詳細はこちら</span>
          </p>
          </a>
        </li>

        <% end %>

     </ul>
</div>


</body>
</html>
