
<div id="mountroot" style="margin-top: -2px;">
 <div data-reactroot class="application-base">
  <div class="pdp-pdp-container">
  <div>
    <div class="breadcrumbs-container">
        <a href="/top" class="breadcrumbs-link">Home</a>
        <span class="breadcrumbs-separator">/</span>
        <a href="/unilist" class="breadcrumbs-link">大学検索</a>
        <span class="breadcrumbs-separator">/</span>
        <a href="/unis/<%= @uni.id %>" class="breadcrumbs-link"><%= @uni.name %></a>
        <span class="breadcrumbs-separator">/</span>
        <a href="/unis/<%= @uni.id %>" class="breadcrumbs-link">商品一覧</a>
        <span class="breadcrumbs-separator">/</span>
        <a href="/products/:id" class="breadcrumbs-bold-link breadcrumbs-link">商品詳細</a>
    </div>

    <div class="pdp_details">
        <div class="pdp-image-container">
          <div class="thumbnails-big">
                <div class="thumbnails-vertical-container">
                   <button class="thumbnails-thumbnail-button">
                   <% if @product.product_images[2].present? %>
                       <img class="thumbnails-thumbnail" src="<%= @product.product_images[2].image %>">
                       <% end %>
                   </button>
                   <button class="thumbnails-thumbnail-button">
                   <% if @product.product_images[1].present? %>
                       <img class="thumbnails-thumbnail" src="<%= @product.product_images[1].image %>">
                       <% end %>
                   </button>
                </div>

                <div style="display: inline-block;">
                <% if @product.product_images[0].present? %>
                   <img class="thumbnails-selected-image" src="<%= @product.product_images[0].image %>">
                   <% end %>
                </div>
          </div>
        </div>

        <div class="pdp-description-container">
            <div class="pdp-price-info">
              <h1 class="pdp-title"><%= @product.title %></h1>
              <p class="pdp-selling-price"><strong class="pdp-price"><%= @product.company.name %></strong></p>
            </div>

            <div class="pdp-action-container pdp-fixed">
                <button class="pdp-add-to-wishlist pdp-button pdp-add-to-wishlist pdp-button">
                <span class="myntraweb-sprite pdp-whiteWishlistIcon sprites-whiteWishlist"></span>
                <span><%= link_to "候補に登録", favorites_path(@product.id, uni_id: @uni.id), method: :post %></span>
                </button>

                <a href="/unis/<%= @uni.id %>/products/<%= @product.id %>/bookings/new">
                <button class="pdp-add-to-bag pdp-button">
                <span class="myntraweb-sprite pdp-whiteBag sprites-whiteBag"></span>
                <span>予約する</span>
                </button>
                </a>
            </div>

            <div class="pdp-productDescriptors">
              商品説明
            </div>
            <div class="product_explain">
            <%= @product.text %>
            </div>

        </div>
    </div>
    </div>
  </div>
  </div>
</div>

