
<div id="mountroot" style="margin-top: -2px;">
 <div data-reactroot class="application-base">
  <div class="pdp-pdp-container">
  <div>
    <div class="breadcrumbs-container">
        <a href="/top" class="breadcrumbs-link">Home</a>
        <span class="breadcrumbs-separator">/</span>
         <a href="/unis" class="breadcrumbs-link">大学検索</a>
        <span class="breadcrumbs-separator">/</span>
        <a href="/unis/<%= @uni.id %>" class="breadcrumbs-link"><%= @uni.name %></a>
        <span class="breadcrumbs-separator">/</span>
        <a href="/unis/<%= @uni.id %>" class="breadcrumbs-link">商品一覧</a>
        <span class="breadcrumbs-separator">>>></span>
        <a href="/products/:id" class="breadcrumbs-bold-link breadcrumbs-link">商品詳細</a>
    </div>

    <div class="pdp_details">
        <div class="pdp-image-container">
          <div class="thumbnails-big">
                <div class="thumbnails-vertical-container">
                   <button class="thumbnails-thumbnail-button">
                   <% if @product.product_images[2].present? %>
                       <img class="thumbnails-thumbnail" src="<%= @product.product_images[2].image %>">
                       <% end %>
                   </button>
                   <button class="thumbnails-thumbnail-button">
                   <% if @product.product_images[1].present? %>
                       <img class="thumbnails-thumbnail" src="<%= @product.product_images[1].image %>">
                       <% end %>
                   </button>
                </div>

                <div style="display: inline-block;">
                <% if @product.product_images[0].present? %>
                   <img class="thumbnails-selected-image" src="<%= @product.product_images[0].image %>">
                   <% end %>
                </div>
          </div>
        </div>

        <div class="pdp-description-container">
              <div class="pdp-price-info">
                   <h1 class="pdp-title"><%= @product.title %></h1>
                   <p class="pdp-selling-price"><a href="http://www.saganokan.com/" class="pdp-price" style="text-decoration: none;"><%= @product.company.name %></a></p>
                   <div class="product-size">袴サイズ   <%= @product.size %></div>

                   <p class="product-price priceinf"><%= @product.price %></p><div class="pricebox priceinf">円（税抜）</div>
            </div>



          <div class="eventdetail">
            この商品を試着するには<br>
              <% @eventdetail.each do |detail| %>
                   <% if detail.present? %>
                    <p>① 大学の展示会場で試着</p>
                      <div class="detailbox">
                        <ul>
                          <li><%= detail.period %></li>
                          <li>時間：<%= detail.time %></li>
                          <li>会場：<%= detail.place %></li>
                        </ul>
                      </div>
                    <p>② 店舗で試着</p>
                      <div class="detailbox">
                        <%= @product.company.text %>
                  <% else %>
                    <p>店舗で試着</p>
                        <%= @product.company.text %>
                      </div>
                  <% end %>
               <% end %>
          </div>


            <div style='width: 100%;'>
                <div id="map" style='padding: 0 0 10px; margin: 10px 0px; margin-right: 0; width: 93%; height: 25vh;'></div>
            </div>

          <% @discount.each do |discount| %>
          <div class="discount"><p><%= @product.company.name %>でのご予約で</p><br><%= discount.text %></div>
          <% end %>

            <div class="pdp-action-container pdp-fixed">
                   <button class="pdp-add-to-wishlist pdp-button pdp-add-to-wishlist pdp-button">
                   <span><%= link_to "お気にいり", favorites_path(@product.id, uni_id: @uni.id), method: :post, class: "pdp-add-to-wishlist" %></span>
                   </button>

                   <a href="/unis/<%= @uni.id %>/products/<%= @product.id %>/bookings/new"><button class="pdp-add-to-bag pdp-button"><span>試着を予約</span></button>
                   </a>
            </div>
      </div>
      </div>
      <div class="pdp-productDescriptors">
              商品説明
            </div>
            <div class="set-include">
            <%= @product.set %></div>
            <div class="product_explain">
            <%= @product.text %>
            </div>

       <%if student_signed_in? %>
            <%= form_for ([@uni, @comment]), remote: true, :url => {:action => 'create'} do |f| %>
              <%= f.hidden_field :student_id, value: current_student.id %>
              <%= f.hidden_field :product_id, value: @product.id %>
              <%= f.text_field :text %>
              <%= f.submit '投稿' %>
            <% end %>
       <% end %>

             <ol>
              <div id="comment_list"></div>
              <% @comments.each do |comment| %>
                <%= render partial: "comments/comment", locals: {comment: comment} %>
              <% end %>
            </ol>
        </div>
    </div>
  </div>
  </div>
</div>


<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers([
      {
        "lat": <%= @product.company.latitude %>,
        "lng": <%= @product.company.longitude %>,
        "picture": {
          "width":  32,
          "height": 32
        },
        "infowindow": '<%= @product.company.name %>'
      }
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(15);
  });
</script>

