<!DOCTYPE html>
<html>
<head>
  <title>Oriapp</title>
  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
    <div class = "title-box">
    <div class ="login_logout">
     <%= link_to "log in", new_student_session_path, method: :get %>
    <%= link_to "log out", destroy_student_session_path, method: :delete %>
    </div>
    <a href="/top" class="webtitle">Website-Title</a>
    <%= form_tag('/unis/search', method: :get, class: "form-wrapper-top") do %>
               <input type="text" id="search" name="keyword" placeholder="大学名を入力" required>
              <input type="submit" value="検索" id="submit">
    <% end %>
    </div>
  </header>
  <body>
<%= yield %>

</body>
</html>
